@import "../../styles/variables.css";
.Home {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  .Form {
    width: 30em;
    &Header {
      text-align: center;
      color: var(--primary-color);
      margin: auto auto 1.25em;
      img {
        width: 6em;
      }
    }
    &Row {
      margin-bottom: 2.5em;
      & > div {
        margin-bottom: 0.5em;
      }
    }
    button {
      margin-top: 1.5em;
    }
    h2 {
      text-transform: capitalize;
      font-size: 1.3em;
    }
  }
}
