.Home {
  padding: 2em 3em;
  font-family: "Raleway", sans-serif;
  .Form {
    &Row {
      margin-bottom: 3em;
      &> div{
        margin-bottom: .5em;
      }
    }
    button{
        margin-top: 2em;
    }
    h2{
      text-transform: capitalize;
    }
  }

}
